@model ResourcePlanner.Models.BusinessUnit
@{

}
<div class="container">

    <div class="row">
        <div class="col-4">
            
        </div>
        <div class="col-4">
            bar
        </div>
    </div>
</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}