@model IEnumerable<ResourcePlanner.Models.Person>

@foreach (var entity in Model)
{
    <div style="height:1%;"></div>
    <div style="background-color:darkslategray; padding:2em;">
        <div style="color:white; font:bolder">@entity.Name</div>
        <div style="color:white;">@entity.Role.Name</div>
    </div>
}
